/* Stili Base */
body {
  font-family: Arial, sans-serif; /* Stile base del font per tutto il corpo della pagina */
  color: #2c2c2c; /* Colore del testo per la modalità chiara */
  background-color: #f8f9fa; /* Colore di sfondo per la modalità chiara */
  min-height: 100vh; /* Altezza minima del body per assicurare che il footer resti al fondo */
  display: flex;
  flex-direction: column;
}

/* Background Image */
body.light-mode {
  background-image: url("../img/background.webp"); /* Immagine di sfondo per la modalità chiara */
  background-size: cover; /* La copertura dell'immagine per adattarsi allo schermo */
  background-attachment: fixed; /* L'immagine resta fissa quando si scorre la pagina */
  background-position: center; /* L'immagine è centrata sullo schermo */
}

body.dark-mode {
  background-image: url("../img/background.webp"); /* Immagine di sfondo per la modalità scura */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #e0e0e0; /* Colore del testo per la modalità scura */
}

/* Contenitori Arancioni Semitrasparenti */
.bg-overlay {
  background-color: rgba(255, 140, 0, 0.85); /* Colore arancione con trasparenza per il contenitore */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombra del contenitore per dare profondità */
  padding: 2rem; /* Padding interno del contenitore */
  border-radius: 10px; /* Angoli arrotondati per un look moderno */
  color: #1a1a1a; /* Colore del testo */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transizione per ingrandire il contenitore e migliorare l'effetto hover */
}

.bg-overlay:hover {
  transform: scale(1.02); /* Ingrandisce leggermente il contenitore al passaggio del mouse */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta l'ombra al passaggio del mouse per dare un effetto di elevazione */
}

.dark-mode .bg-overlay {
  background-color: rgba(60, 60, 60, 0.9); /* Colore di sfondo più scuro per la modalità scura */
  color: #e0e0e0; /* Colore del testo chiaro per la modalità scura */
}

/* Header Sezioni */
.section-header {
  font-size: 2rem; /* Dimensione del font per i titoli delle sezioni */
  font-weight: bold; /* Stile grassetto per i titoli */
  color: #1a1a1a; /* Colore del testo del titolo */
  margin-bottom: 1.5rem; /* Spazio sotto il titolo */
}

.dark-mode .section-header {
  color: #ffffff; /* Colore del testo per i titoli in modalità scura */
}

/* Testo e Liste nei Contenitori */
.bg-overlay p,
.bg-overlay ul li {
  color: #333; /* Colore del testo per i paragrafi e gli elementi delle liste */
  line-height: 1.6; /* Altezza della linea per una lettura più comoda */
}

.bg-overlay ul {
  padding-left: 1.5rem; /* Spazio a sinistra per le liste */
}

.bg-overlay a {
  color: #fff; /* Colore del testo dei link */
  text-decoration: underline; /* Sottolineatura per i link */
  transition: color 0.3s; /* Transizione del colore al passaggio del mouse */
}

.bg-overlay a:hover {
  color: #fdfdfd; /* Colore del link al passaggio del mouse */
}

/* Bottoni di Approfondimento */
.btn-learn-more {
  margin-top: 1rem; /* Spazio sopra il bottone */
  color: #fff; /* Colore del testo del bottone */
  background-color: #ff8c00; /* Colore di sfondo del bottone */
  border: none; /* Rimozione del bordo */
  padding: 0.5rem 1rem; /* Padding interno del bottone */
  border-radius: 4px; /* Angoli arrotondati per il bottone */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transizioni per l'hover sul bottone */
}

.btn-learn-more:hover {
  background-color: #ff7a00; /* Colore del bottone al passaggio del mouse */
  transform: scale(1.05); /* Ingrandisce leggermente il bottone al passaggio del mouse */
}

/* Navbar - Modalità Chiara */
.navbar {
  background-color: rgba(255, 255, 255, 0.9); /* Colore di sfondo semitrasparente per la navbar */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera sotto la navbar */
  padding: 0.5rem 1rem; /* Riduci l'altezza della navbar per renderla meno ingombrante */
}

.navbar-brand {
  font-weight: bold; /* Stile grassetto per il marchio della navbar */
  color: #333; /* Colore del marchio */
  font-size: 1.2rem; /* Riduci la dimensione del font per rendere il marchio più piccolo */
}

.navbar .nav-link {
  color: #555; /* Colore del testo dei link della navbar */
  transition: color 0.3s; /* Transizione per il colore dei link al passaggio del mouse */
  font-size: 0.9rem; /* Riduci la dimensione del font dei link per una migliore proporzione */
  padding: 0.25rem 0.5rem; /* Riduci il padding per migliorare la compattezza della navbar */
}

.navbar .nav-link:hover {
  color: #007bff; /* Colore del link al passaggio del mouse */
}

.navbar-brand img {
  height: 30px; /* Riduci l'altezza del logo per adattarlo meglio alla navbar ridotta */
  width: auto; /* Mantieni le proporzioni originali dell'immagine */
}

/* Modalità Scura */
body.dark-mode {
  background-color: #121212; /* Colore di sfondo per la modalità scura */
  color: #e0e0e0; /* Colore del testo per la modalità scura */
}

body.dark-mode .navbar {
  background-color: rgba(18, 18, 18, 0.95); /* Colore di sfondo scuro per la navbar in modalità scura */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Ombra più intensa sotto la navbar in modalità scura */
  padding: 0.5rem 1rem; /* Mantiene le stesse proporzioni della modalità chiara */
}

body.dark-mode .navbar-brand {
  color: rgba(255, 165, 0, 0.85); /* Colore del marchio in modalità scura */
  font-size: 1.2rem; /* Mantieni la stessa dimensione del font della modalità chiara */
}

body.dark-mode .navbar .nav-link {
  color: rgba(224, 224, 224, 0.85); /* Colore dei link in modalità scura */
  font-size: 0.9rem; /* Stessa dimensione dei link in modalità chiara */
  padding: 0.25rem 0.5rem; /* Mantieni il padding per una buona compattezza in modalità scura */
}

body.dark-mode .navbar .nav-link:hover {
  color: #ffffff; /* Colore dei link al passaggio del mouse in modalità scura */
}

.dark-mode .bg-light {
  background-color: #1e1e1e !important; /* Colore di sfondo per elementi con classe bg-light in modalità scura */
}

.dark-mode .navbar-light .navbar-toggler-icon {
  background-color: #333; /* Colore dello sfondo per l'icona del menu toggler in modalità scura */
  color: #e0e0e0; /* Colore dell'icona in modalità scura */
}

/* Griglia per le sezioni */
.grid-container {
  display: grid; /* Utilizza il layout a griglia per le sezioni */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Colonne che si adattano automaticamente alla dimensione disponibile */
  gap: 1.5rem; /* Spazio tra le griglie */
  padding: 2rem; /* Padding intorno al contenitore della griglia */
  flex-grow: 1; /* Permette alla griglia di espandersi e occupare tutto lo spazio disponibile */
}

.grid-item {
  background-color: rgba(255, 140, 0, 0.85); /* Colore di sfondo dei contenitori della griglia */
  border-radius: 10px; /* Angoli arrotondati per gli elementi della griglia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità agli elementi */
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease; /* Transizioni per migliorare l'interazione */
  cursor: pointer; /* Mostra il puntatore della mano per indicare che è cliccabile */
  overflow: hidden; /* Nasconde il contenuto eccedente */
}

.grid-item:hover {
  transform: scale(1.05); /* Ingrandisce leggermente l'elemento al passaggio del mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta l'ombra per dare un effetto di elevazione maggiore */
}

.grid-item.expanded {
  height: auto; /* Altezza automatica per gli elementi espansi */
  grid-column: span 2; /* Gli elementi espansi occupano due colonne */
}

.content {
  overflow: hidden; /* Nasconde il contenuto che esce dai limiti del contenitore */
  transition: max-height 0.6s ease; /* Transizione per un'espansione fluida del contenuto */
}

/* Footer ancorato ai piedi della pagina */
footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin-top: auto; /* Fa sì che il footer sia sempre alla fine della pagina */
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera sopra il footer per dare separazione */
}

